#body {
  background-color: black;
  color: white;
}
#header {
}
#starHomeDiv {
  display: flex;
  height: auto;
}
.container {
  margin: auto;
  width: 50%;
}
.stars {
  height: 100vh;
  width: 20%;
  position: fixed;
  margin: 2px;
}
#starLeft {
  left: 0px;
}
#starRight {
  right: 0px;
}
#tempImg {
  height: 412px;
  width: auto;
}
